* {
  margin: 0;
  padding: 0;
}

/* first box design */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#main{
    width: 50vw;
    display: flex;
    border: 1px solid black;
}
#istborder,
#secborder {
  width: 50%;
  display: flex;
  gap: 3vh;
  border-radius: 20px;
  padding: 5vh 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#istborder {
  background-color: hsl(241, 81%, 54%);
  text-align: center;
}

#round {
  border: 1px black solid;
  border-radius: 50px;
  width: 120px;
  height: 120px;
}

#text {
  display: flex;
  flex-direction: column;
  padding-bottom: 50vh;
}

#secborder {
  /* border: 1px solid black;
display: flex;
flex-direction: column;
justify-content: center;
width:25vw ;
height: 65vh;
border-radius: 20px; */
}
